@media (min-width: 0px) and (max-width: 1000px) {
  .login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;

    form{
      display: flex;
      flex-direction: column;
      background-color: $dark_green;
      padding: 60px 200px 100px 200px;
      color: white;
      .title{
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
      }
      label{
        font-size: 28px;
      }

      input{
        font-size: 28px;
        width: 400px;
        margin-top: 30px;
      }
      button{
        font-size: 28px;
        margin-top: 60px;
        padding: 10px 0 10px 0;
      }
    }
  }
}