$dark_blue: #1BBC9B;
$light_blue: #16A086;
$grey: #1BA39C;
$light_green: #0B8389;
$dark_green: #0F6177;
$white: #fff;

/*
$dark_blue: #3897D9;
$light_blue: #59BCFB;
$grey: #F2F1EF;
$light_green: #64D98A;
$dark_green: #5ECA7F;
$white: #fff;
*/