body{
  background-color: $light_blue;
  font-family: 'Nunito', sans-serif;
  ::-webkit-input-placeholder { color: $light-green; } /* WebKit */
  :-moz-placeholder { color: $grey; } /* Firefox 18- */
  ::-moz-placeholder { color: $grey; } /* Firefox 19+ */
}
/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $dark_green inset;
  -webkit-text-fill-color: white !important;
}
a{
  cursor: pointer;
}
.red{
  color: #CD5C5C;
}
input{
  color: $white;
  ox-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 200px;
  padding: 7px;
  border: none;
  border-color: $light-green;
  border-bottom: 1px solid $light-green;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
}


select{
  border-radius: 5px !important;
  background-color: $light-green;
  border-color: $light-green;
  color: white;
  &:focus{
    outline: none;
  }
}

button{
  font-weight: bold;
  border: none;
  color: $white;
  background-color: $light-green;
  border-radius: 5px;
  cursor: pointer;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

header{
  display: flex;
  flex-direction: row;

  color: $grey;
  background-color: $dark-green;
  padding: 20px 20px 20px 20px;
  .title{
    width: 50%;
    font-weight: bold;
    font-size: 30px;
  }
  .right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

footer{
  display: flex;
  flex-direction: row;

  color: $grey;
  background-color: $dark-green;
  padding: 20px 20px 20px 20px;
  .text{
    align-self: flex-end;
    max-width: 50%;
    margin-left: auto;
  }
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  &__container{
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
    min-width: 50%;
    min-height: 50%;
    background-color: $dark-blue;
  }
}