.home
  .form__container
    %form{'ng-submit' => 'vm.create()'}
      %input{'ng-model' => 'vm.new_product.name', placeholder: 'Nombre del producto'}
      %input{'ng-model' => 'vm.new_product.cost', placeholder: 'Costo'}
      %input{'ng-model' => 'vm.new_product.price', placeholder: 'Precio'}
      %input{'ng-model' => 'vm.new_product.quantity', placeholder: 'Cantidad inicial'}
      %select.chosen-select{'style' => "width:200px;", 'data-placeholder' => 'Escoger una categoría', 'ng-model' => 'vm.new_product.category_id'}
        %option{value: "AK"} Alaska
        %option{value: "AK"} Alaska
        %option{value: "AK"} Alaska
        %option{value: "AK"} Alaska
        %option{value: "AK"} Alaska
      %button
        Agregar
        %i.fa.fa-plus
  .list
    .title
      .name Nombre
      .cost Costo
      .price Precio
      .quantity Cantidad
      .category Categoría
    .product{'ng-repeat' => 'product in vm.products'}
      .name {{product.name}}
      .cost {{product.cost}}
      .price {{product.price}}
      .quantity {{product.quantity}}
      .category Categoría