.home
  .form__container
    %my-customer{'product' => 'vm.new_product'}
  .list
    .title
      .name Nombre
      .cost Costo
      .price Precio
      .quantity Cantidad
      .category Categoría
      .options Opciones
    .product{'ng-repeat' => 'product in vm.products', id: 'product-{{product.id}}'}
      .text {{product.name}}
      .text {{product.cost}}
      .text {{product.price}}
      .text {{product.quantity}}
      .select {{product.category.name}}
      .options
        %i.fa.fa-times.red{'ng-click' => 'vm.destroy(product.id)'}
        %i.fa.fa-pencil-square-o{'ng-click' => 'vm.update(product)'}
  
.modal
  .modal__container
    %my-customer