.login
  %form{'ng-submit' => "vm.login()", role: "form"}
    .title
      Bienvenido
    %label{for: 'email'} Email
    %input{type: 'email', name: 'email', 'ng-model' => 'vm.user.email', required: true, placeholder: 'Email'}
    %label{for: 'password'} Contraseña
    %input{type: 'password', name: 'password', 'ng-model' => 'vm.user.password', required: true, placeholder: 'Contraseña'}

    %button{type: 'submit'} Ingresar

    .links
      %a{'ui-sref' => 'register'} ¿No tiene una cuenta? Regístrese