!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Inventary
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %link{href: "https://fonts.googleapis.com/css?family=Nunito", rel: 'stylesheet'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'}
  %body.site{"ng-app" => "inventoryapp"} 
    %header
      .title
        Inventario Encom
      .right
        .right__item{'ng-if' => 'user.signedIn'}
          %a{'ng-click' => 'signOut()'} Cerrar sesión
    .main
      %ui-view
    %footer
      .text
        All rights reserved - NoFearCode&reg;